[Unit]
Description=Agentless metric and log collector for Debian based systems
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/wiretap/venv/bin/python /opt/wiretap/main.py
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target

