<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wiretap</title>
    <meta charset="UTF-8">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/semantic.min.css">
</head>
<body>
<script src="static/vue.js"></script>

<div id="app" class="ui container">
    <h1 class="ui center aligned huge header">
        Wiretap
        <a v-if="connection" class="ui basic huge green label">Online</a>
        <a v-if="!connection" class="ui basic huge red label">Offline</a>
    </h1>
    <div class="ui grid">
        <div class="ui sixteen wide column">

            <div class="ui two statistics" style="margin: 50px auto;">

                <div class="statistic">
                    <div class="value">{{ stats.metrics_count }}</div>
                    <div class="label">Number of metrics</div>
                </div>
                <div class="statistic">
                    <div class="value">{{ Math.round(stats.metrics_size/1e6) }} MB</div>
                    <div class="label">Metrics size</div>
                </div>

            </div>

        </div>
            <div class="ui eight wide column">
            <h2><i class="icon server"></i> Inventory ({{ inventory.length }})</h2>
            <table class="ui celled large table">
                <thead>
                <tr>
                    <th class="collapsing"><span class="ui white empty circular label"></span></th>
                    <th class="collapsing">Name</th>
                    <th class="collapsing">Host</th>
                    <th></th>
                    <th class="collapsing">Last ping</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="server in inventory" :key="server.name" :class="{'error': server.timestamp < (Math.floor(Date.now() / 1000)-60)}">
                    <td class="collapsing">
                        <span v-if="server.timestamp >= (Math.floor(Date.now() / 1000)-60)" class="ui green empty circular label"></span>
                        <span v-if="server.timestamp < (Math.floor(Date.now() / 1000)-60)" class="ui red empty circular label"></span>
                    </td>
                    <td>{{ server.name }}</td>
                    <td>{{ server.host }}</td>
                    <td></td>
                    <td>{{ server.timestamp === 0 ? '-' : new Date(server.timestamp * 1000).toUTCString().substring(17,25) }}</td>
                </tr>
                </tbody>
            </table>

            <h2><i class="icon sitemap"></i> Config </h2>

                <div v-for="(value, key) in config" :key="config">

                    <h3>{{ key }}</h3>
                    <div v-for="(line, key_) in value" :key="line">
                        <h6>{{ key_ }}</h6>
                        <pre>{{ JSON.stringify(line, null, ' ') }}</pre>
                    </div>
                </div>
                <div class="ui small basic inline button" @click="loadConfig()">Reload config</div>
            </div>
        <div class="ui eight wide column">
            <h2><i class="icon chart bar"></i> Metrics (last 25)</h2>
            <table class="ui large single line table">
                <thead>
                <tr>
                    <th class="collapsing">Name</th>
                    <th class="collapsing">Tag</th>
                    <th class="collapsing">Value</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="metric in metrics" :key="metric">
                    <td>{{ metric.name }}</td>
                    <td>{{ metric.tag }}</td>
                    <td>{{ metric.value }} <span style="color: gray;">{{ metric.unit }}</span></td>
                    <td>{{ new Date(metric.time * 1000).toISOString().replace('T', ' ').substring(0,19) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="timestamp">({{ count }}) {{ timestamp }}</div>
    </div>
</body>


<script>
    const App = {
        data() {
            return {
                inventory: [],
                metrics: [],
                stats: {},
                count: 0,
                time: this.getNow(),
                connection: false,
            };
        },
        mounted: function () {
            this.loadData();
            this.loadMetrics();
            this.loadStats();
            this.loadConfig();
        },
        methods: {
            loadConfig: function () {
                fetch("api/config").then((res) => {
                    return res.json();
                }).then((config) => {
                    this.config = config;
                }).catch(error => {
                    console.log(error)
                })
            },
            loadMetrics: function () {
                fetch("api/metrics").then((res) => {
                    return res.json();
                }).then((metrics) => {
                    this.metrics = metrics;
                    setTimeout(function () {
                        this.loadMetrics();
                    }.bind(this), 10000);
                }).catch(error => {
                    console.log(error)
                })
            },
            loadStats: function () {
                fetch("api/stats").then((res) => {
                    return res.json();
                }).then((stats) => {
                    this.stats = stats;
                    setTimeout(function () {
                        this.loadStats();
                    }.bind(this), 10000);
                }).catch(error => {
                    console.log(error)
                })
            },
            loadData: function () {
                fetch("api/inventory").then((res) => {
                    return res.json();
                }).then((inventory) => {
                    this.inventory = inventory;
                    this.count += 1;
                    this.time = this.getNow()
                    this.connection = true
                    setTimeout(function () {
                        this.loadData();
                    }.bind(this), 10000);
                }).catch(error => {
                    console.log(error)
                    this.connection = false
                })
            },
            getNow: function() {
                const today = new Date();
                // this.timestamp = today.toISOString().replace('T', ' ').split('.')[0] }
                this.timestamp = today.toISOString().replace('T', ' ').split('.')[0] }
        }
    };
    Vue.createApp(App).mount('#app')
</script>

<style>
    #timestamp {
        position: absolute;
        top: 0;
        right: 0;
    }
    #app {
        margin:  1em auto;
    }
</style>
</html>